body, html {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: var(--main_font-size);
    background: var(--body_bg);
}

#name{
    width: 100%;
    text-align: center;
}
#name h1{
    font-size: 3em;
    margin-bottom: 0;
}

#name h2 {
    font-style: italic;
    margin-top: 0;
}

#kriya {
    width: 60%;
    margin: auto;
}


.timerBox {
    width: 50%;
}

.asset {
    width: 100%;
    margin: auto;
}

.asset img{
    width: 100%;
}

.timerBox p{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.timer {
    margin-top: 0.3em;
    box-shadow: 1px 1px 1px grey;
    width: 100%;
    font-size: 1em;
    font-family: monospace;
    background-color: white;
}

.timer:focus {
    outline: 0;
}

.timer.off {
    background: var(--timer_off);
}

.timer.counting {
    background: var(--timer_counting);
}

.timer.paused {
    background: var(--timer_paused);
}

#stepList {
    list-style-type: none;
    margin: 0;
    margin-top: 3em;
    padding: 0;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step h2{
    font-size: 1.5em;
    color: var(--step_color);
}

.main-title {
  background-color: lavender;
}
